.payment-element {
  display: flex;
  flex-direction: column;
}

.payment-element button {
  background-color: #00bb6a;
  color: white;
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 15px;
  font-size: 16px;
  line-height: 22px;
}

.finished {
  border: none;
  outline: none;
  background-color: #09b1ba;
  color: white;
  border-radius: 5px;
  padding: 10px;
}
