@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-family: "Montserrat", sans-serif;
}

header {
  height: 120px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header img {
  width: 100px;
}

.hero img {
  height: 455px;
  min-width: 100vw;
  object-fit: cover;
}

.homepage .container {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.homepage .container div > img {
  height: 360px;
  width: 235px;
  object-fit: cover;
}

.homepage .container div {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
}

.links {
  text-decoration: none;
  color: #999999;
  font-size: 12px;
}

.owner img {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  object-fit: cover;
  margin: 10px;
}

.owner {
  display: flex;
  align-items: center;
}

.offerpage .container {
  display: flex;
  justify-content: space-around;
  background-color: #ebedee;
}

.offerpage .container > section {
  margin-top: 30px;
  height: 600px;
}

.offerpage .container > section > img {
  height: 600px;
}

.offerpage .price {
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 32px;
}

.offerpage .container > section:not(:first-child) {
  background-color: white;
  padding: 30px;
}
.offerpage .container > section > p:not(:first-child) {
  color: #999999;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.offerpage span {
  color: #666666;
  line-height: 22px;
  margin-left: 30px;
}

.offerpage .bottom-part {
  border-top: solid 1px #f3f3f3;
  margin-top: 30px;
  padding-top: 50px;
}

.offerpage .bottom-part img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.offerpage .bottom-part > div {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.offerpage .bottom-part > p {
  margin-top: 20px;
  font-size: 16px;
}

.offerpage .bottom-part > p:first-child {
  font-weight: bold;
}

.offerpage .bottom-part > p:nth-child(2) {
  color: #666666;
}

.offerpage .bottom-part > div > p {
  font-weight: bold;
}

.offerpage .bottom-part button {
  margin-top: 30px;
  width: calc(100% - 15px);
  height: 35px;
  border-radius: 5px;
  color: white;
  background-color: #09b1ba;
  cursor: pointer;
  border: none;
}
